*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    background-image: url(../images/appointment-backgroundlong-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
    overflow-x: hidden;
    height: 2015px;

}

.go-back {
    font-size: 24px;
    color: #707070;
}

.back-link {
    list-style-type: none;
    padding: 5px;
}

.Bback-arrow {
    margin: 10px;
    border: 1px solid #707070;
    border-radius: 50px;
    padding: 5px;
    width: 40px;
}


.bbook-txt {
    color: #707070;
    font-family: 'Segoe UI';
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    padding-top: 10px;
}

.bexpert-subheader {
    color: #707070;
    font-family: 'Segoe UI';
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    font-weight: bolder;
    margin-top: 90px;
}


.expert-img {
    width: 170px;
    height: 90px;
    vertical-align: middle;
    margin-bottom: 24px;
    margin-left: 25px;

}


.bselect-container {
    display: inline-block;
    margin-top: 60px;
    vertical-align: middle;
    margin-left: 10px;
}
