/*Programmes styling starts here */
*,
*:before,
*:after {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    width: 100%;
    background-image: url(../images/programmesshort-backgr-01.jpg);
    background-size: contain;
}

.go-back {
    font-size: 24px;
    color: #707070;
}

.back-arrow {
    margin: 10px;
    border: 1px solid #707070;
    border-radius: 50px;
    padding: 5px;
    width: 40px;
}

.uheader {
    font-size: 1.6em;
    text-align: center;
    padding-top: 20px;
    color: #58676A;
    margin-bottom: 180px;
}

.uAPp,
.uBachelorp {
    text-align: center;
    padding-top: 33px;
    color: #707070;
    font-size: 1.2em;
}

.uTopp {
    text-align: center;
    padding-top: 23px;
    color: #707070;
    font-size: 1.2em;
}

.uAPdiv,
.uBachelordiv,
.uTopdiv {
    width: 258px;
    height: 90px;
    background-color: white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}

/*HERE IS THE AP PROGRAMMES STYLE CODE*/
.uITdiv,
.uMMdiv,
.uMDdiv,
.uBioScdiv {
    width: 258px;
    height: 90px;
    position: relative;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}

.uITdiv {
    background-image: url(../images/ITtechnologyAP.png);

}

.uMMdiv {
    background-image: url(../images/marketingAP.png)
}

.uMDdiv {
    background-image: url(../images/multimediaAP.png)
}

.uBioScdiv {
    background-image: url(../images/chemicascience.png)
}

.uITp,
.uMMp,
.uMDp {
    text-align: center;
    padding-top: 33px;
    color: white;
    font-size: 1.2em;
}

.uBioScp {
    text-align: center;
    padding-top: 24px;
    color: white;
    font-size: 1.2em;
}


/*Top-up Programmes styling*/

.uBioTechdiv,
.uInEnTopdiv,
.uDigConceptTopdiv,
.uProductDevdiv,
.uWebDevdiv {
    width: 258px;
    height: 90px;
    position: relative;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}

.uBioTechp,
.uInEnTopp,
.uDigConceptTopp,
.uProductDevp,
.uWebDevp {
    text-align: center;
    padding-top: 24px;
    color: white;
    font-size: 1.2em;
}




.uBioTechdiv {
    background-image: url(../images/chemicaltechnologyTop.png)
}

.uInEnTopdiv {
    background-image: url(../images/innovationTop.png)
}

.uDigConceptTopdiv {
    background-image: url(../images/digitalconceptTOP.png)
}

.uProductDevdiv {
    background-image: url(../images/productTOP.png)
}

.uWebDevdiv {
    background-image: url(../images/webdevelopmentTOP.png)
}



/*EVENTS CSS CODES*/


.uEventsheader {
    font-size: 1.6em;
    text-align: center;
    padding-top: 20px;
    color: #58676A;
    margin-bottom: 50px;
}

.uEventsp {
    font-size: 1.4em;
    width: 250px;
    color: #707070;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#uMyEvents {
    font-size: 33px;
    color: white;
    float: right;
    align-content: center;
    padding-left: 5px;
}

.uu-daysdiv {
    width: 335px;
    height: 123px;
    position: relative;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}

.uu-daysdiv {
    background-image: url(../images/event%20u-days.jpg)
}





















/* FONTS */

@font-face {
    font-family: Segoe;
    src: url('fonts/Segoe UI.ttf');
}

@font-face {
    font-family: Segoe Bold;
    src: url('fonts/Segoe UI Bold.ttf');
}

@font-face {
    font-family: Segoe Bold Italic;
    src: url('fonts/Segoe UI Bold.ttf');
}

@font-face {
    font-family: Segoe Italic;
    src: url('fonts/Segoe UI Bold Italic.ttf');
}

/* FONTS */
