/*Programmes styling starts here */
* {
    margin: 0;
    padding: 0;
}

.uheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;

}

.uProgrammesback {
    width: 377px;
    height: 814px
}

/* FONTS */

@font-face {
    font-family: Segoe;
    src: url('fonts/Segoe UI.ttf');
}

@font-face {
    font-family: Segoe Bold;
    src: url('fonts/Segoe UI Bold.ttf');
}

@font-face {
    font-family: Segoe Bold Italic;
    src: url('fonts/Segoe UI Bold.ttf');
}

@font-face {
    font-family: Segoe Italic;
    src: url('fonts/Segoe UI Bold Italic.ttf');
}

/* FONTS */
